Refreshing memory on plotting time series events

In [1]:
import pandas as pd

In [7]:
!ls

Absenteeism_at_work.csv     learn_loc_iloc_ix_UFOdf.ipynb  statescrape.py
cyber_companies_scraper.py  plotting_time.ipynb		   yahooscraper.py
footesting.ipynb	    scraper2.py
irisTesting.csv		    ScrapeZillow.ipynb

In [8]:
df = pd.read_csv("Absenteeism_at_work.csv")

In [9]:
df.dtypes

ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours    object
dtype: object

In [10]:
df.head()

  ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours
0  11;26;7;3;1;289;36;13;33;239.554;97;0;1;2;1;0;...
1  36;0;7;3;1;118;13;18;50;239.554;97;1;1;1;1;0;0...
2  3;23;7;4;1;179;51;18;38;239.554;97;0;1;0;1;0;0...
3  7;7;7;5;1;279;5;14;39;239.554;97;0;1;2;1;1;0;6...
4  11;23;7;5;1;289;36;13;33;239.554;97;0;1;2;1;0;...